body {
    font-family: Arial, Helvetica, sans-serif;
}
header {
    background-color: red;
    color: brown;
    font-size: large;
    font:bold;
}
footer {
    background-color: purple;
    color: white;
    font-size: medium;
}
fieldset {
    background-color: aqua;
    border-radius: 5px;

}
legend {
    background-color:  orange;
    color:  white;
    padding: 10px 20px;
}

.form-row {
    display: flex;
    gap: 10px;
    margin: 10px 0;    
}

.form-row input:not([type="submit"]) {
    padding: 5px 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: bisque;
}

.form-row input:not([type="submit"]):focus {
    background-color: greenyellow;
}

.form-row input[type="submit"] {
    padding: 15px;
    background-color: orange;
    color: white;
    font-size: 20px;
    border-radius: 5px;
}
.radio-row {
    display: flex;
    gap: 10px;
    margin: 10px 0;
}

.form-row label {
    width: 150px;
    text-align: right;
    /* padding: 0 10px; */
    /* margin: 0 10px; */
}

.form-spacer {
    width: 150px;
}

@media ONLY screen AND (max-width : 600px) {
    .form-row, .radio-row {
        flex-direction: column;
    }
    
    .form-row label {
        text-align: left;
    }
    .form-spacer {
        text-align: left;
    }
}