body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24pt;
    color: rebeccapurple;
    background-color: antiquewhite;
}

footer p {
    color: #2255FF;
}

.explain {
    color: blue;
}
.bigger {
    font-size: 18pt;
}
#bolder{
    color: red;
}
.green {
    color: green;
}
.questions {
    font-size: 14pt;
}
.questionsOne {
    font-weight: bolder;
}
.answerOne {
    font-weight: bolder;
    color: brown;
}
.questionsTwo {
    font-weight: lighter;
}
.answerTwo {
    font-weight: lighter;
    color: orange;
}
.questionsThree {
    font-weight: 600;
}
.answerThree {
    font-weight: 600;
    color: green;
}