<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
    <link rel="stylesheet" href="layout.css">
</head>
<body>
    <div id="divide3">
        <header>
            <h1>Transportation History</h1>
        </header>
        <nav> 
            <a href="#footer">Taxi</a>
            <a href="#">Bus</a>
            <a href="#">Subway</a>
            <a href="#">Airplane</a>
        </nav>
        <main>
            <h1>What is transportation</h1>
            <p class="font1">Transportation is the movement of people, goods, or animals from one location to another using various vehicle. This can include methods such as cars, trucks, trains, planes, ships, bicycles. We all have experienced these transportation or at least we saw those transportation.</p>
            <p id="font2">Today, we will look up the history of transportation in United Sates, and compare to transportation in these days. Of course, it looks like modern transportation better, but, let's compare together. And you can also think about future transportation as well.</p>
            <figure class="Transportation">
                <img src="transp.jpg" alt="transportation">
                <figcaption>Transportation</figcaption>
            </figure>
    
        
            <h2>Taxi</h2>
            <p>A taxi is a kind of rental car that takes people to their destination for a fee, usually determined by the time or distance traveled. Taxis can be reserved via a taxi service or app, or they can be hailed on the street. Professional drivers often operate these vehicles. They offer a more flexible and convenient on-demand transportation option than public transportation, particularly in urban areas.</p>
            <p>The history of taxis in the U.S. began in 1907 when the first taxicab fleet was established in New York City, initially using electric vehicles. By the 1910s, gasoline-powered cars became the standard. Taxis quickly grew in popularity, becoming an essential form of urban transport. In the 1920s, organized taxi companies expanded across major U.S. cities. The industry continued to evolve with the introduction of metered fares in the 1940s, and later, the rise of ridesharing services like Uber and Lyft in the 21st century.</p>
            <figure class="taxi2">
                <img src="taxi.png" alt="taxi">
                <figcaption>Taxi</figcaption>
            </figure>
            <figure class="taxi2">
                <img src="taxi2.png" alt="taxi1">
                <figcaption>Taxi2</figcaption>
            </figure>
            <h3>Bus</h3>
            <p>A bus is a large and long vehicle designed to carry passengers. It can carry many people at once, making them a cost-effective way to move groups of individuals..</p>
            <p>Buses in the U.S. originated in the early 19th century with horse-drawn carriages, and the first motorized bus service started in 1905 in Los Angeles. By the 1920s and 1930s, buses became more popular in urban areas as affordable alternatives to streetcars. </p>
            <figure class="bus2">
                <img src="bus.jpg" alt="bus">
                <figcaption>Bus</figcaption>
            </figure>
            <figure class="bus2">
                <img src="bus2.jpg" alt="bus2">
                <figcaption>Bus2</figcaption>
            </figure>
            <h4>Subway</h4>
            <p>A subway is a system of underground urban transportation, usually a train or rail network, that is intended to move people around a city or metropolitan area rapidly. Subways typically operate on tracks that are buried beneath the surface of a city to avoid traffic on the streets and are a part of the public transportation system.</p>
            <p>The history of subways in the U.S. began with the opening of the New York City Subway in 1904, the first underground system in the country. It was built to address heavy street traffic and quickly became a model for other cities. In the early 20th century, cities like Boston and Chicago followed suit with their own rapid transit systems. </p>
            <figure class="subway2">
                <img src="subway.jpg" alt="subway">
                <figcaption>Subway</figcaption>
            </figure>
            <figure class="subway2">
                <img src="subway2.jpg" alt="subway">
                <figcaption>subway2</figcaption>
            </figure>
            <h5>Airplane</h5>
            <p>An airplane is a powered flying vehicle with fixed wings that uses engines to provide thrust for movement through the air. It is designed to carry passengers or cargo over long distances and operates on specific flight paths. Airplanes are used for commercial, military, and private transportation, and they typically fly at high altitudes, navigating through airspaces controlled by air traffic management systems.</p>
            <p>The history of the airplane in the U.S. began with Wilbur and Orville Wright, who made the first successful powered flight on December 17, 1903, in Kitty Hawk, North Carolina. Their plane, the Wright Flyer, flew for 12 seconds, marking the beginning of powered aviation. Over the next few decades, airplanes evolved from rudimentary designs to more advanced models for both military and commercial use.</p>
            <figure class="Airplane">
                <img src="flight.jpg" alt="flight">
                <figcaption>Airplane</figcaption>
            </figure>
        </main>
    </div>
    <footer id="footer">
        <p>&copy; 2025 Hyunseok Cho</p>
    </footer>
</body>
</html>