body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:x-large;
    font-weight: 900;
    line-height: 1cm;
    text-align:center;
    text-transform:capitalize;
    text-shadow:#000;
    color: blue;
    background-image: url(backTransp.png);
    background-repeat: repeat;
}

nav a {
    display: block;
    background-color: aqua;
    paddng: 10px 5px;
    border-bottom: thin solid #fff;
   
}

nav a:hover {
    background-color: red;
}


.font1 {
    font-family:'Times New Roman', Times, serif;    
}


.floating {
    float: right;
}

.moving {
    position: fixed;
    top: 50px;
    left: 59px;
}
.taxi2 {
    width: 350px;
    border: thin solid #000;
    box-shadow: 5px, 5px, 5px, rgba(0,0,0,0,5);
}

.bus {
    width: 300px;
    border: thin solid #000;
    box-shadow: 5px, 5px, 5px, rgba(0,0,0,0,5);
}
.bus2 {
    width: 300px;
    border: thin solid #000;
    box-shadow: 5px, 5px, 5px, rgba(0,0,0,0,5);
}
.subway2 {
    width: 300px;
    border: thin solid #000;
    box-shadow: 5px, 5px, 5px, rgba(0,0,0,0,5);
}

.Transportation {
    width: 250px;
    border: thin solid #000;
    box-shadow: 5px, 5px, 5px, rgba(0,0,0,0,5);
}
.taxi {
    width: 250px;
    border: thin solid #000;
    box-shadow: 5px, 5px, 5px, rgba(0,0,0,0,5);
}
.bus {
    width: 250px;
    border: thin solid #000;
    box-shadow: 5px, 5px, 5px, rgba(0,0,0,0,5);
}
.Subway {
    width: 250px;
    border: thin solid #000;
    box-shadow: 5px, 5px, 5px, rgba(0,0,0,0,5);
}
.Airplane {
    width: 250px;
    border: thin solid #000;
    box-shadow: 5px, 5px, 5px, rgba(0,0,0,0,5);
}
.minicar img {
    width: 100%;
}
.stop {
    clear: both;
}