body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:x-large;
    font-weight: 900;
    line-height: 1cm;
    text-align:center;
    text-transform:capitalize;
    text-shadow: 2px 2px #000000;
    color: blue;
    background-image: url(backTransp.png);
    background-clip: content-box;
    background-repeat: repeat;
}
footer {
    background: url(koreanflight.jpg) right no-repeat ;
}

nav a {
    display: block;
    background-color: aqua;
    padding: 10px 5px;
    
}

nav a:hover {
    background-color: red;
}


#divide3 {
    width: 800px;
    height: 100%;
    background-color: coral;
    margin: 10px auto;
    border: thin solid #000;
    
    border-radius: 5px;
    box-shadow: 5px 10px;
    
}
.font1 {
    font-family:'Times New Roman', Times, serif;    
}
#font2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:brown;
}

.Transportation {
    width: 320px;
    border: thin solid #000;
}
.taxi2 {
    width: 350px;
    border: thin solid #000;
}


.bus2 {
    width: 300px;
    border: thin solid #000;
}
.subway2 {
    width: 300px;
    border: thin solid #000;
}

.Airplane {
    width: 250px;
    border: thin solid #000;
}
